.customer-info-form {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 1rem;
}

.customer-back-button {
     font-size: 1rem;
     font-weight: 600;
     width: 180px;
     height: 35px;
     background-color: #EDEFEE;
     color: #495E57;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
     margin: -20px 0 40px 0;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     padding: 0;
     transition: background-color 0.3s ease;
}

.customer-back-button:hover {
     background-color: rgb(225, 225, 225);
     transition: background-color 0.3s ease;
}

.my-confirm-btn {
     font-size: 1rem;
     font-weight: 600;
     width: 100px;
     height: 35px;
     background-color: #F4CE14;
     color: #495E57;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
     margin: 40px 20px 45px 0;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     padding: 0;
     transition: background-color 0.3s ease;
}

.my-confirm-btn:hover {
     background-color: #e2b839;
     color: #EDEFEE;
     transition: background-color 0.3s ease;
}

.my-popup {
     border-radius: 20px;
     width: 50rem;
     background-color: #495E57;
     /* height: 0rem; */

}

.my-icon {
     width: 3rem;
     height: 3rem;
     color: #F4CE14;
     background-color: #F4CE14;
}

.my-title {
     color: #F4CE14;
     font-size: 3rem;
}

.swal2-html-container {
     color: #F4CE14 !important;
     font-size: 1.2rem !important;
}

.my-cancel-btn {
     font-size: 1rem;
     font-weight: 600;
     width: 100px;
     height: 35px;
     background-color: #495E57;
     color: #F4CE14;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
     margin: 40px 20px 45px 0;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     padding: 0;
     transition: background-color 0.3s ease;
}

.my-cancel-btn:hover {
     background-color: #e2b839;
     color: #EDEFEE;
     transition: background-color 0.3s ease;
}

/* .customer-info{
     display: flex;
     flex-direction: column;
     gap: 1rem;
} */

.customer-info {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 20px;

}

.customer-info-group {
     display: flex;
     flex-direction: column;
     gap: 1rem;
}

.full-width {
     grid-column: span 2;
}

.customer-form-textarea {
     /* width: rem; */
     height: 10rem;
     border-radius: 5px;
     border: 1px solid #F4CE14;
     padding: 0 10px;
     font-size: 1rem;
}

.info-error {
     color: red;
     margin: -15px 0 10px 0;
}

.customer-submit-button {
     font-size: 1rem;
     font-weight: 600;
     width: 200px;
     height: 35px;
     background-color: #F4CE14;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
     margin: 40px 0 100px 0;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     padding: 0;
     transition: background-color 0.3s ease;
}

.customer-submit-button:hover {
     background-color: #e2b839;
     transition: background-color 0.3s ease;
}
