.order-online-form-section {
     padding: 3rem 23rem;
     background-color: #495E57;
     max-width: 800px;
     margin: 0 auto;
     margin-top: 5rem;
     margin-bottom: 10rem;
     border-radius: 16px;
     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
     text-align: center;
}

.order-title {
     font-size: 4rem;
     color: #F4CE14;
     margin-bottom: 0.5rem;
}

.order-subtext {
     font-size: 1rem;
     color: #F4CE14;
     margin-bottom: 2rem;
}

.order-form-grid {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
     gap: 1.5rem;
}

.order-form {
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
}

.order-label{
     font-size: 1rem;
     letter-spacing: .1rem;
     color: #F4CE14;
}

.order-select,
.order-quantity {
     padding: 0.6rem;
     font-size: 1rem;
     color: #495E57;
     font-size: 1rem;
     font-weight: 700;
     letter-spacing: 0.05rem;
     border: 1px solid #ccc;
     border-radius: 8px;
     min-width: 180px;
     display: flex;
     flex-direction: column;
     text-align: center;
}

.order-quantity{
     font-size: 1rem;
}

.order-add-button {
     font-size: 1rem;
     font-weight: 600;
     width: 240px;
     height: 35px;
     background-color: #F4CE14;
     color: #495E57;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
     margin-top: 40px;
     margin-bottom: 100px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     padding: 0;
     transition: background-color 0.3s ease;
}

.order-add-button:hover {
     background-color: #ddb800;
}

.order-summary {
     background-color: #fff;
     padding: 1rem 1.5rem 0rem 1.5rem;
     border-radius: 12px;
     border: 1px solid #eee;
     text-align: left;
     letter-spacing: .05rem;
}

.order-summary h3 {
     margin-bottom: 1rem;
     color: #444;
}

.order-summary ul {
     list-style: none;
     padding-left: 0;
     margin-bottom: 1rem;
}

.order-summary li {
     margin-bottom: 0.5rem;
     font-weight: 400;
}

.order-button {
     font-size: 1rem;
     font-weight: 600;
     width: 240px;
     height: 35px;
     background-color: #F4CE14;
     color: #495E57;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
     margin-top: 40px;
     margin-bottom: 100px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     padding: 0;
     transition: background-color 0.3s ease;
}

.order-button:hover {
     background-color: #ddb800;
}

.order-total{
     letter-spacing: .1rem;
}

.reset-button {
     font-size: 1rem;
     font-weight: 600;
     width: 80px;
     height: 35px;
     background-color: #495E57;
     color: #F4CE14;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
     margin-top: 40px;
     margin-bottom: 100px;
     margin-right: 20px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     padding: 0;
     transition: background-color 0.3s ease;
}

.reset-button:hover {
     background-color: #495E57;
}

.order-submit-button {
     font-size: 1rem;
     font-weight: 600;
     width: 130px;
     height: 35px;
     background-color: #495E57;
     color: #F4CE14;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
     margin-top: 40px;
     margin-bottom: 100px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     padding: 0;
     transition: background-color 0.3s ease;
}

.order-submit-button:hover {
     background-color: #000;
}
